$brand-color: #333a2f;
$secondary-brand-color: #6ea0a4;
$middle-gradient-color: mix($brand-color, $secondary-brand-color, 100%);

// Breakpoints
$tablet: "(min-width: 450px)";
$mid-point: "(min-width: 620px)";
$desktop: "(min-width: 768px)";
